@import 'bootstrap/dist/css/bootstrap';

button a {
  color: white;
}

.post-show {
  width: 100%;
  height: 300px;
  overflow-y: hidden;
}
.post-show img {
  align: middle;
  width: 100%;
}

.jumbotron {
  width: 100%;
}
